body {
background-color: rgb(246, 245, 243);
}
/* nav */

.wp-block-group{
    box-sizing: border-box;
}
.carousel-inner{
    display:flex;
    padding:-1em;
}
.card{
    margin: 1em;
}
 .carousel-item{
    display:block;
    margin-right:0;
    flex:0 0 calc(100%/4);
 }
.img-wrapper{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


.nav-bt {
    position: absolute;
    margin: 38px;
    width: auto;
    z-index: 1;
    margin-left: 46vw;
}


.nav-top {
    margin-top: 12px;
}

.nav-link {
    color: white;
}

.black-bar {
    color: white;
    margin-top: 15px;
    height: 108px;
    background-color: black;
    clip-path: polygon(0% 54px, 350px 54px, 404px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.logoimg {
    position: absolute;
    margin-top: 20px;
    margin-left: 3rem;
    rotate: -8deg;
    z-index: 1;
}

.h1-02 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 45px;
    font-weight: bolder;
    color: white;
    /* font-weight: 800px; */
    text-align: center;
    z-index: 1;
    text-shadow: 2px 2px 4px #000000;
}

    .h1-03 {
        position: absolute;
        /* background-color: yellow; */
        top: 59%;
        left: 20%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 24px;
        font-weight: bolder;
        color: rgb(225, 68, 7);
        /* font-weight: 800px; */
        text-align: center;
        z-index: 1;
        text-shadow: 2px 2px 4px #ede3e3;
    
    }




.h1-01 {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    /* font-weight: 800px; */
    text-align: center;
    z-index: 1;
    background-image: linear-gradient(45deg, rgb(40, 6, 134), rgb(6, 126, 76));
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 12px;
    -webkit-background-clip: text;
}

.hot-sale{
position: absolute;
top: 10%;
left: 20%;
color: rgb(0, 0, 0);
transform: translate(-50%, -50%);
padding: 10px;
font-size: 66px;
font-weight:900;
z-index: 1;
background-image: linear-gradient(90deg, rgb(171, 168, 168), rgb(255, 255, 255));
background-clip: text;
-webkit-text-stroke-color: transparent;
-webkit-text-stroke-width: 12px;
-webkit-background-clip: text;
-webkit-text-shadow:20px 20px 40px #0a0a0a; 
/* text-shadow: 2px 2px 4px #0a0a0a; */

}

.hot-sale-01{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 66px;
    font-weight:900;
    z-index: 1;
    background-image: linear-gradient(90deg, rgb(171, 168, 168), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 12px;
    -webkit-background-clip: text;
    -webkit-text-shadow:20px 20px 40px #0a0a0a; 
    /* text-shadow: 2px 2px 4px #0a0a0a; */
    
    }
.h1-04 {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 70px;
    font-weight: bolder;
    color: white;
    /* font-weight: 800px; */
    text-align: center;
    z-index: 1;
    background-image: linear-gradient(45deg, rgb(157, 5, 93), rgb(6, 126, 76));
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 12px;
    -webkit-background-clip: text;
}
.h1-05 {
    position: absolute;
    top: 47%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    /* font-weight: 800px; */
    text-align: center;
    z-index: 1;
    background-image: linear-gradient(45deg, rgb(40, 6, 134), rgb(6, 126, 76));
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 12px;
    -webkit-background-clip: text;
}
.btn-3 {
    position: absolute;
    top: 80%;
    left: 20%;
    width:190px;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(40deg, rgb(241, 61, 163),rgb(44, 7, 208), rgb(15, 2, 60));
    border: 6px solid white;
    border-radius:20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight:600;
    box-shadow:2px 2px 2px #9a7108;
  }

.btn-2 {
    position: absolute;
    top: 95%;
    left: 50%;
    width:160px;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(40deg, rgb(241, 61, 163),rgb(44, 7, 208), rgb(15, 2, 60));
    border: 6px solid white;
    border-radius:20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight:600;
  }

  .nav-tabs{
    margin-top: 3%;
    background-color: black;
  }

  .row {
    margin-bottom: 30px;
    margin-top:30px;
  }

/* 底部 */
.container-low {
    /* position: relative; */
    height: 150px;
    width:100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    /* border-radius: 30px 30px 0 0; */
    clip-path: polygon(0% 54px, 350px 54px, 404px 0%, 100% 0%, 100% 100%, 0% 100%);

}

.bann-01 img{
  display:block;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}
.logoimg-bt {
    position: absolute;
    /* text-align: center; */
    /* margin-left: 5%; */
    /* margin-right: auto; */
    transform: translate(-50%);
    margin-top: -25px;
    z-index: 1;
    rotate:-10deg;

}

.copyright {
    line-height: 2rem;
    color: white;
    text-align: center;
    vertical-align: text-bottom;
}


.contactmail {
    /* line-height: 2rem; */
    color: white;
    text-align: center;
    margin-top: 80px;
    /* vertical-align: text-bottom; */
}

.box-30{
    margin-top: 60px;
}
.contact-bg{
    margin:60px 0 20px 0;
    position: absolute;
    z-index: -1;
    
}

.form-gropu{
    color:white;
}



/*     
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
} */